.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.wrapper > div {
  background: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background: #ddd;
}

.wrapper2 {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
}

.wrapper2 > div {
  background: #eee;
  padding: 1em;
}

.wrapper2 > div:nth-child(odd) {
  background: #ddd;
}